body {
	color: black;
	width: auto;
	margin: 3em 2em !important;
	font-size: 0.9em;
}

h1 {
    padding-top: 1em;
}

section h2 {
    border: none;
}

#strap {
	position: absolute;
	top: 0;
	right: 0;
	background: #d7dde1;
	padding: 1.3em;
}

